/* GLOBAL */
body {
  margin: 0;
  display: flex;
  background: #0a0a0a;
  color: white;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.8;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #111;
  height: 100vh;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #b00000;
}

.logo {
  font-size: 2.3rem;
  font-weight: bold;
  color: #ff1a1a;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: white;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  font-size: 1.05rem;
  transition: 0.25s;
}

.sidebar nav a:hover {
  background: #b00000;
}

.sidebar nav .active {
  background: #ff1a1a;
}

/* MAIN AREA */
.content {
  margin-left: 250px;
  padding: 40px;
}

/* DASHBOARD CARDS */
.home-card {
  margin-top: 20px;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b00000;
}

.stats-grid {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.stat-box {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid #ff1a1a;
}

/* INVENTORY CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #b00000;
  transition: 0.25s;
}

.card:hover {
  transform: scale(1.03);
  border-color: #ff1a1a;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 15px;
}

input,
button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

input {
  background: #1a1a1a;
  color: white;
  border: 1px solid #333;
}

button {
  background: #e60000;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff1a1a;
}
