body {
    font-family: Arial;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    margin: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
}
button {
    padding: 10px 15px;
}
